# Overseer Control Plane Host Security Limits
* soft memlock unlimited
* hard memlock unlimited
* soft nofile 65536
* hard nofile 65536
* soft nproc 32768
* hard nproc 32768
root soft memlock unlimited
root hard memlock unlimited
root soft nofile 65536
root hard nofile 65536
